/* CSS file for HW12_Lattitude page */

.navbar-default .navbar-nav>.active>a {
    background-color: rgb(20, 180, 164);
    color: white;
}

h1 {
    color: rgb(20, 180, 164);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(20, 180, 164);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(20, 180, 164);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    float:left;
    width: 450px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.boxset {
    position: relative;
    height: 300px;
    width: 370px;
}

#viz1 {
    position:absolute;
    top:0;
    left:0;
    width: 180px;
}

#viz1m {
    position:absolute;
    top:0;
    left:0;
    width: 180px;
    border: 3px solid rgb(20, 180, 164); 
}

#viz2 {
    position:absolute;
    top:0;
    right:0;
    width: 180px;
}

#viz2h {
    position:absolute;
    top:0;
    right:0;
    width: 180px;
    border: 3px solid rgb(20, 180, 164); 
}

#viz3 {
    position:absolute;
    bottom:0;
    left:0;
    width: 180px;
}

#viz3c {
    position:absolute;
    bottom:0;
    left:0;
    width: 180px;
    border: 3px solid rgb(20, 180, 164); 
}

#viz4 {
    position:absolute;
    bottom:0;
    right:0;
    width: 180px;
}

#viz4w {
    position:absolute;
    bottom:0;
    right:0;
    width: 180px;
    border: 3px solid rgb(20, 180, 164); 
}

p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

hr { 
    background-color: rgba(216, 212, 212, 0.982); 
    height: 2px; 
    border: 0; 
}

h4 {
    margin-bottom: 30px;
}

@media (max-width:990px) {

.boxset {
    position:relative;
    height: 100px;
}

#viz3c {
    position:relative;
    top:0px;
    left:375px;
 }

#viz4w {
    position:relative;
    top:0px;
    left:380px;
 }

#viz3 {
    position:relative;
    top:0px;
    left:375px;
 }

#viz4{
    position:relative;
    top:0px;
    left:380px;
 }
}